@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #CBCBD9;
    height: 100vh;
    padding:60px 80px ;
    
}

.menu-active-bar {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #EE6338;
}

.main-page {
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}





h1 {
  letter-spacing: 1px;
  margin: 0;
}


label {
  display: inline-block;
  margin: 10px 0;
}





.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  color: #e74c3c;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1rem;
}

.list li:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 320px) {
  .container {
    width: 300px;
  }
}